.header{
    top:0;
    display:  fixed ;
    align-items: center;
    justify-content: space-between;
    background-color: #388e3c;
    padding:0 10%;
    font-family:  Roboto,Arial,sans-serif;
}


/* navbar */

.navbars{
    background-color: #388e3c;

}
.appName{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding-left: 10%;
    align-items: center;
    text-align: center;
}
.cartMainContainer{
    padding-right: 15%;
}
.iconSetup{
    color: white;
}
.cartTextSetup{
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
}
.appName:hover{
    color: rgba(245, 245, 245, 0.63);
}