.categoryList{
    margin-top: 3.1%;
    position: fixed;
    z-index: 1040;
    background-color:whitesmoke
}
.image {
    padding-top: 0;
    /* margin-left: 1rem; */
    margin-right: 0;
    
  }
  
  .image img {
    width: 8rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .name{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
  }