.body{
    background-image: url(/src/components/img/signup.jpg);
    height:60rem;
    background-position: center;
    /* margin-top: 0px; */
    background-size: cover;
    background-repeat: no-repeat;   
}

.welcome{
    color: #314402;
    font-weight: 5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.form{
    margin-top: 0px;
    padding-top: 6rem;
    padding-left: 20rem;
    font-size: 0.5rem;

}
.input{
    padding:0.6rem;
    width: 21.5rem;
    font-size: 1rem;
    margin-top: 0.6rem;
    height: 3.2rem;
}

.label{
    color: #dba600;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.error{
    font-weight : bold;
    color: red;
    font-size: 1rem;
    
}

.sbtn{
    background-color: #314402;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 15px 145px;
    border-radius: 5px;
    margin: 4.2rem 0px;
    cursor: pointer;
    }